<nav class="navbar navbar-expand-custom navbar-mainbg">
    <a class="navbar-brand navbar-logo" href="#">NetflixCalidad</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars text-white"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <div class="hori-selector" style="top: 0px; left: 919.863px; height: 63px; width: 155px;">
                <div class="left"></div>
                <div class="right"></div>
            </div>
            <li class="nav-item active" style="">
                <a class="nav-link" href="javascript:void(0);"><i class="fas fa-home"></i>Inicio</a>
            </li>
            <li class="nav-item" style="">
                <a class="nav-link" href="javascript:void(0);"><i class="far fa-address-book"></i>cotacto</a>
            </li>
            <!-- <li class="nav-item" style="">
                <a class="nav-link" href="javascript:void(0);"><i class="far fa-clone"></i>Components</a>
            </li>
            <li class="nav-item" style="">
                <a class="nav-link" href="javascript:void(0);"><i class="far fa-calendar-alt"></i>Calendar</a>
            </li>
            <li class="nav-item" style="">
                <a class="nav-link" href="javascript:void(0);"><i class="far fa-chart-bar"></i>Charts</a>
            </li>
            <li class="nav-item" style="">
                <a class="nav-link" href="javascript:void(0);"><i class="far fa-copy"></i>Documents</a>
            </li> -->
        </ul>
    </div>
</nav>